In [7]:
#sql 연결 및 데이터 불러와서 df로 변환
import pandas as pd
import pymysql


with open(f"./db_config", "r") as f:
    config = f.readlines()

config_dict = {}
for l in config:
    idx = l.index('=')
    k = l[:idx]
    v = l[idx + 1:]
    config_dict[k] = v.rstrip()

conn = pymysql.connect(**config_dict)
cur = conn.cursor()
# cur.execute(sql_script)  # Assuming that your SQL script creates the table
df1 = pd.read_sql_query("SELECT * FROM pentagon_news", conn)

C:\Users\lonec\AppData\Local\Temp\ipykernel_42616\2412964866.py:19: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df1 = pd.read_sql_query("SELECT * FROM stocks", conn)

In [6]:
df1

In [3]:
# 데이터 확인
df

,id,cat1_id,cat2_id,title,press,date_upload,date_fix,mecab_noun_stock,url
0,1,2,7,"이복현#""소상공인#울리는#보이스피싱#엄단""",이데일리,2023-04-05,1111-11-11 00:00:00,대웅,https://n.news.naver.com/mnews/article/018/000...
1,2,2,7,이석태·강신국·박완식·조병규…#우리은행장#4파전,디지털타임스,2023-03-26,2023-03-26 00:00:00,대교#우리금융지주,https://n.news.naver.com/mnews/article/029/000...
2,3,2,7,"KB금융,#중국#소비회복#가능성#엿본#보고서#발간",스포츠서울,2023-03-26,2023-03-26 00:00:00,KB금융,https://n.news.naver.com/mnews/article/468/000...
3,4,2,7,코람코에#1위#빼앗긴#한토신·한자신…올해도#'먹구름'#전망,더팩트,2023-03-31,2023-03-31 00:00:00,한국토지신탁#카카오#한국자산신탁#한국기업평가,https://n.news.naver.com/mnews/article/629/000...
4,5,2,7,임승태#KDB생명#신임#대표이사#취임,서울경제,2023-03-31,2023-03-31 00:00:00,KD#DB#CS,https://n.news.naver.com/mnews/article/011/000...
...,...,...,...,...,...,...,...,...,...
462562,462563,2,14,"추경호#""노인#복지#강화#위해#노력""",YTN,2023-09-22,2023-09-22 00:00:00,YTN#카카오,https://n.news.naver.com/mnews/article/052/000...
462563,462564,2,14,국내#최초#프리미엄#포도#생산#브랜드#‘오시즌’#런칭,서울신문,2023-09-16,1111-11-11 00:00:00,신세계,https://n.news.naver.com/mnews/article/081/000...
462564,462565,2,14,국내#기름값#10주째#상승...물가·무역수지#'악재'#우려,YTN,2023-09-16,2023-09-16 00:00:00,YTN#카카오,https://n.news.naver.com/mnews/article/052/000...
462565,462566,2,14,예상#웃돈#미국#물가#상승에도...시장#안도한#이유는?,YTN,2023-09-16,2023-09-16 00:00:00,현대차#현대차증권#YTN#카카오,https://n.news.naver.com/mnews/article/052/000...
462566,462567,2,14,'돈#줄'#마르자#건설사#줄도산‥대형건설사도#흑자도산#위기,MBC,2023-09-22,2023-09-22 00:00:00,우진#카카오,https://n.news.naver.com/mnews/article/214/000...

In [16]:
# 샾 분리, 증권 제외
df['stock'] = df['mecab_noun_stock'].str.split('#')
df = df[['title', 'press', 'date_upload', 'mecab_noun_stock', 'url', 'stock']]
df.head(10)

,title,press,date_upload,mecab_noun_stock,url,stock
0,"이복현#""소상공인#울리는#보이스피싱#엄단""",이데일리,2023-04-05,대웅,https://n.news.naver.com/mnews/article/018/000...,[대웅]
1,이석태·강신국·박완식·조병규…#우리은행장#4파전,디지털타임스,2023-03-26,대교#우리금융지주,https://n.news.naver.com/mnews/article/029/000...,"[대교, 우리금융지주]"
2,"KB금융,#중국#소비회복#가능성#엿본#보고서#발간",스포츠서울,2023-03-26,KB금융,https://n.news.naver.com/mnews/article/468/000...,[KB금융]
3,코람코에#1위#빼앗긴#한토신·한자신…올해도#'먹구름'#전망,더팩트,2023-03-31,한국토지신탁#카카오#한국자산신탁#한국기업평가,https://n.news.naver.com/mnews/article/629/000...,"[한국토지신탁, 카카오, 한국자산신탁, 한국기업평가]"
4,임승태#KDB생명#신임#대표이사#취임,서울경제,2023-03-31,KD#DB#CS,https://n.news.naver.com/mnews/article/011/000...,"[KD, DB, CS]"
5,BNK금융그룹#계열사#대표#확정…#6곳#중#5곳#‘새#인물’,부산일보,2023-03-26,대교#CS#BNK금융지주,https://n.news.naver.com/mnews/article/082/000...,"[대교, CS, BNK금융지주]"
6,"신보-기업은행,#복합위기#극복#지원#위한#상설#협의체#출범",데일리안,2023-03-31,기업은행,https://n.news.naver.com/mnews/article/119/000...,[기업은행]
7,대출한도#200만원#넘게#오른다고?…'신용점수#올리기'#앱#유행,뉴시스,2023-03-26,카카오#카카오페이,https://n.news.naver.com/mnews/article/003/001...,"[카카오, 카카오페이]"
8,"농협은행,#일회용품#제로#챌린지#동참",데일리안,2023-03-31,한화#E1#레이#SG,https://n.news.naver.com/mnews/article/119/000...,"[한화, E1, 레이, SG]"
9,"우수수#쏟아지는#청년펀드…""가입하면#뭐가#좋나요?""#[신민경의#편드는#펀드]",한국경제,2023-03-26,한화#디오,https://n.news.naver.com/mnews/article/015/000...,"[한화, 디오]"

In [ ]:
# 같은 뉴스, 다른 언론사 제거
df['stock_str'] = df['stock'].apply(lambda x: ','.join(x))
df.drop_duplicates(subset=['date_upload', 'stock_str'], inplace=True)
df.drop(['stock_str'], axis=1, inplace=True)  # 임시 열 삭제

In [ ]:
df

In [4]:
# 1000개 이상인거 리스트로 만들기, 길이 확인
# import ast
# with open('1차편집본.txt', 'r') as f:
#     data = f.read()
#     list1 = ast.literal_eval(data)
    
# df2 = df['stock'].explode().value_counts()
# df2[df2>1000].index.tolist()
# exception_word = [x for x in df2[df2>1000].index.tolist() if x not in list1]
df['stock'] = df['stock'].apply(lambda x: ', '.join(x) if isinstance(x, list) else x)
# print(len(exception_word), len(df2[df2>1000].index.tolist()))
df

,title,press,date_upload,mecab_noun_stock,url,stock
0,"이복현#""소상공인#울리는#보이스피싱#엄단""",이데일리,2023-04-05,대웅,https://n.news.naver.com/mnews/article/018/000...,대웅
1,이석태·강신국·박완식·조병규…#우리은행장#4파전,디지털타임스,2023-03-26,대교#우리금융지주,https://n.news.naver.com/mnews/article/029/000...,"대교, 우리금융지주"
2,"KB금융,#중국#소비회복#가능성#엿본#보고서#발간",스포츠서울,2023-03-26,KB금융,https://n.news.naver.com/mnews/article/468/000...,KB금융
3,코람코에#1위#빼앗긴#한토신·한자신…올해도#'먹구름'#전망,더팩트,2023-03-31,한국토지신탁#카카오#한국자산신탁#한국기업평가,https://n.news.naver.com/mnews/article/629/000...,"한국토지신탁, 카카오, 한국자산신탁, 한국기업평가"
4,임승태#KDB생명#신임#대표이사#취임,서울경제,2023-03-31,KD#DB#CS,https://n.news.naver.com/mnews/article/011/000...,"KD, DB, CS"
...,...,...,...,...,...,...
462562,"추경호#""노인#복지#강화#위해#노력""",YTN,2023-09-22,YTN#카카오,https://n.news.naver.com/mnews/article/052/000...,"YTN, 카카오"
462563,국내#최초#프리미엄#포도#생산#브랜드#‘오시즌’#런칭,서울신문,2023-09-16,신세계,https://n.news.naver.com/mnews/article/081/000...,신세계
462564,국내#기름값#10주째#상승...물가·무역수지#'악재'#우려,YTN,2023-09-16,YTN#카카오,https://n.news.naver.com/mnews/article/052/000...,"YTN, 카카오"
462565,예상#웃돈#미국#물가#상승에도...시장#안도한#이유는?,YTN,2023-09-16,현대차#현대차증권#YTN#카카오,https://n.news.naver.com/mnews/article/052/000...,"현대차, 현대차증권, YTN, 카카오"
462566,'돈#줄'#마르자#건설사#줄도산‥대형건설사도#흑자도산#위기,MBC,2023-09-22,우진#카카오,https://n.news.naver.com/mnews/article/214/000...,"우진, 카카오"

In [ ]:
exception_word

In [6]:
# # 제외단어 제외한 개수 확인
import numpy as np
import re

df3 = df.copy()
df3['stock'] = df3['stock'].str.split(',')
df3 = df3.explode('stock').reset_index(drop=True)
# for word in exception_word:
#     df3['stock'] = df3['stock'].apply(lambda x: x.replace(word, '') if isinstance(x, str) and x.strip() == word else x)
df3 = df3[df3['stock'].str.len() > 0]
df3['stock'].replace('', np.nan, inplace=True)
df3.dropna(subset=['stock'], inplace=True)
len(df3)

1215010

In [11]:
df.head()

,id,cat1_id,cat2_id,title,press,date_upload,date_fix,mecab_noun_stock,url
0,1,2,7,"이복현#""소상공인#울리는#보이스피싱#엄단""",이데일리,2023-04-05,1111-11-11 00:00:00,대웅,https://n.news.naver.com/mnews/article/018/000...
1,2,2,7,이석태·강신국·박완식·조병규…#우리은행장#4파전,디지털타임스,2023-03-26,2023-03-26 00:00:00,대교#우리금융지주,https://n.news.naver.com/mnews/article/029/000...
2,3,2,7,"KB금융,#중국#소비회복#가능성#엿본#보고서#발간",스포츠서울,2023-03-26,2023-03-26 00:00:00,KB금융,https://n.news.naver.com/mnews/article/468/000...
3,4,2,7,코람코에#1위#빼앗긴#한토신·한자신…올해도#'먹구름'#전망,더팩트,2023-03-31,2023-03-31 00:00:00,한국토지신탁#카카오#한국자산신탁#한국기업평가,https://n.news.naver.com/mnews/article/629/000...
4,5,2,7,임승태#KDB생명#신임#대표이사#취임,서울경제,2023-03-31,2023-03-31 00:00:00,KD#DB#CS,https://n.news.naver.com/mnews/article/011/000...

In [13]:
import pandas as pd

# df_news = pd.read_csv('total_news_data.csv')
print(len(df_news))
df_news['4'] = df_news['4'].apply(lambda x: x.strip('\n\t')).apply(lambda x: x.replace('\t',''))
# df_news.rename(columns={'0': 'press', '1': 'title','2': 'date', '3': 'url', '4': 'contents', }, inplace=True)
df_news.head(2)
# df_news.to_csv('news_contents.csv')

460499

,0,1,2,3,4
0,이데일리,"이복현 ""소상공인 울리는 보이스피싱 엄단""",2023-04-05 11:31:01,https://n.news.naver.com/mnews/article/018/000...,[이데일리 서대웅 기자] 이복현(사진) 금융감독원장은 5일 “보이스피싱처럼 서민과...
1,디지털타임스,이석태·강신국·박완식·조병규… 우리은행장 4파전,2023-03-26 18:40:10,https://n.news.naver.com/mnews/article/029/000...,우리금융그룹이 사의를 밝힌 이원덕 우리은행장 후임 선정을 위한 절차를 본격화했다....

In [17]:
import pandas as pd
# df_news = pd.read_csv('total_news_data.csv')
# print(len(df_news))
# df_news['4'] = df_news['4'].apply(lambda x: x.strip('\n\t'))
# df_news
df_new = df.copy()
df_merged = pd.merge(df_new, df_news, left_on='url', right_on='3')
df_merged
df_selected = df_merged[['1', '0', '2', 'stock', '3','4']]
df_selected.columns = ['title', 'press', 'date_upload','stock','url','contents']
df_selected['contents'] = df_selected['contents'].apply(lambda x: x.replace('\t',''))
df_selected.explode('stock').reset_index(drop=True).to_csv('news_contents.csv')

C:\Users\lonec\AppData\Local\Temp\ipykernel_10512\2868451388.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_selected['contents'] = df_selected['contents'].apply(lambda x: x.replace('\t',''))

In [13]:
# import pandas as pd
# df_news = pd.read_csv('news_title.csv')
# df_news['stock'] = df_news['stock'].apply(lambda x: eval(x))
# type(df_news['stock'][0])
df_news[['title','press','date_upload','stock','url']].explode('stock').reset_index(drop=True).to_csv('news_title.csv')
df_news[['title','press','date_upload','stock','url']].explode('stock').reset_index(drop=True)

,title,press,date_upload,stock,url
0,"이복현 ""소상공인 울리는 보이스피싱 엄단""",이데일리,2023-04-05 11:31:01,대웅,https://n.news.naver.com/mnews/article/018/000...
1,이석태·강신국·박완식·조병규… 우리은행장 4파전,디지털타임스,2023-03-26 18:40:10,대교,https://n.news.naver.com/mnews/article/029/000...
2,이석태·강신국·박완식·조병규… 우리은행장 4파전,디지털타임스,2023-03-26 18:40:10,우리금융지주,https://n.news.naver.com/mnews/article/029/000...
3,"KB금융, 중국 소비회복 가능성 엿본 보고서 발간",스포츠서울,2023-03-26 16:42:50,KB금융,https://n.news.naver.com/mnews/article/468/000...
4,코람코에 1위 빼앗긴 한토신·한자신…올해도 \'먹구름\' 전망,더팩트,2023-03-31 00:01:22,한국토지신탁,https://n.news.naver.com/mnews/article/629/000...
...,...,...,...,...,...
1209784,"美 Fed \'매파적 동결\' 후폭풍…10년물 금리, 16년 만에 최고",한국경제,2023-09-22 18:54:01,레이,https://n.news.naver.com/mnews/article/015/000...
1209785,"美 Fed \'매파적 동결\' 후폭풍…10년물 금리, 16년 만에 최고",한국경제,2023-09-22 18:54:01,상보,https://n.news.naver.com/mnews/article/015/000...
1209786,[단독] 직원 사망 ‘최다’ 제주항공…‘산재 요청’ 유족에 회유·압박,KBS,2023-09-22 21:22:06,고영,https://n.news.naver.com/mnews/article/056/001...
1209787,[단독] 직원 사망 ‘최다’ 제주항공…‘산재 요청’ 유족에 회유·압박,KBS,2023-09-22 21:22:06,제주항공,https://n.news.naver.com/mnews/article/056/001...
1209788,[단독] 직원 사망 ‘최다’ 제주항공…‘산재 요청’ 유족에 회유·압박,KBS,2023-09-22 21:22:06,진영,https://n.news.naver.com/mnews/article/056/001...

In [ ]:
df4 = df3.groupby('date_upload')['stock'].apply(list).reset_index()
df5 = pd.merge(df3.drop('stock', axis=1), df4, on='date_upload')
# print(len(df5))
df5['date_upload'] = df5['date_upload'].astype(str)  
df5['stock'] = df5['stock'].apply(lambda x: ','.join(x))
df3 = df5.drop_duplicates()
df3.loc[df3['stock'].apply(lambda x : isinstance(x, float)), 'stock'] = np.nan
df3 = df3.dropna(subset=['stock'])
print(len(df3))
df3.head()

In [ ]:
# 장바구니 분석을 위한 준비
# 단일데이터 추출(unique)(다시 리스트로 변환)
# df['stock'] = df['stock'].apply(lambda x: [i for i in x.split(', ') if i])
unique_values = df['stock'].explode().unique()
list(unique_values)
# df4 = df.copy()
# df4

In [ ]:
df4['stock'] = df3['stock'].str.split(',')
df4 = df4.dropna(subset=['stock'])
df4['stock'] = df4['stock'].apply(lambda x: [item for item in x if item.strip()])
df4['stock'] = df4['stock'].apply(lambda x: np.nan if len(x) == 0 else x)
df4 = df4.dropna(subset=['stock'])
df4.reset_index(drop=True, inplace=True)
df4

In [ ]:
# 장바구니 분석
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori


# Prepare the data
te = TransactionEncoder()
te_ary = te.fit(df4['stock']).transform(df4['stock'], sparse = True)
te_df = pd.DataFrame.sparse.from_spmatrix(te_ary,columns=te.columns_)
# df4 = pd.DataFrame(te_ary, columns=te.columns_)

# Apply Apriori algorithm
# frequent_itemsets = apriori(df5, min_support=0.1, use_colnames=True)

In [ ]:
te_df

In [ ]:
import pandas as pd

# 저장할때
# frequent_itemsets['itemsets'] = frequent_itemsets['itemsets'].apply(lambda x: str(x))
# frequent_itemsets.to_csv("frequent_itemsets2.csv", index=False) 
# # 저장된 파일 불러올때
# frequent_itemsets = pd.read_csv('frequent_itemsets2.csv', converters={'itemsets': eval})
# frequent_itemsets['itemsets'] = frequent_itemsets['itemsets'].apply(lambda x: ast.literal_eval(x))
# cleaned_data = frequent_itemsets.copy()
# cleaned_data['itemsets'] = frequent_itemsets['itemsets'].apply(lambda x: frozenset(item.strip() for item in x))
# cleaned_data['itemsets'] = cleaned_data['itemsets'].apply(set)
# frequent_itemsets['itemsets'] = cleaned_data['itemsets']
# cleaned_data = cleaned_data[cleaned_data['itemsets'].apply(lambda x: len(x) >= 2)]
# list_all = cleaned_data.copy()
# list_all['itemsets'] = cleaned_data['itemsets'].apply(list)
# type(stock_all) #= list_all['itemsets'].explode()
# type(frequent_itemsets['itemsets'].iloc[0])
# unique_data = cleaned_data.groupby('itemsets').agg({'support': 'mean', 'itemsets': 'first', 'length': 'first'})
# unique_data.drop('itemsets', axis=1, inplace=True)
# unique_data.reset_index(inplace=True)
# unique_data = list(stock_all.unique())
dic_stock = {i: stock_all.value_counts().get(i, 0) for i in unique_data}
dic_stock

In [ ]:
counts = stock_all.value_counts()
counts['']

In [ ]:
# 초기 데이터 저장

frequent_itemsets = apriori(te_df, min_support=0.005, use_colnames=True, verbose=1, low_memory=True)
frequent_itemsets['length'] = frequent_itemsets['itemsets'].map(lambda x: len(x))
# frequent_itemsets.sort_values('support', ascending=False, inplace=True)


frequent_itemsets

In [ ]:
from mlxtend.frequent_patterns import association_rules
from new import new
import numpy as np

association_rules_df = new(cleaned_data[cleaned_data['length'] < 3 ], 
                                         metric='confidence'
                                        )
all_confidences = []
collective_strengths = []
cosine_similarities = []
for _,row in association_rules_df.iterrows():
    all_confidence_if = list(row['antecedents'])[0]
    all_confidence_then = list(row['consequents'])[0]
    if row['antecedent support'] <= row['consequent support']:
        all_confidence_if = list(row['consequents'])[0]
        all_confidence_then = list(row['antecedents'])[0]
    all_confidence = {all_confidence_if+' => '+all_confidence_then : \
                      row['support']/max(row['antecedent support'], row['consequent support'])}
    all_confidences.append(all_confidence)
    
    violation = row['antecedent support'] + row['consequent support'] - 2*row['support']
    ex_violation = 1-row['antecedent support']*row['consequent support'] - \
                    (1-row['antecedent support'])*(1-row['consequent support'])
    try:
        collective_strength = (1-violation)/(1-ex_violation)*(ex_violation/violation)
        collective_strengths.append(collective_strength)
    except:
        collective_strength = 0
        collective_strengths.append(collective_strength)
    cosine_similarity = row['support']/np.sqrt(row['antecedent support']*row['consequent support'])
    cosine_similarities.append(cosine_similarity)

association_rules_df['all-confidence'] = all_confidences
association_rules_df['collective strength'] = collective_strengths
association_rules_df['cosine similarity'] = cosine_similarities
association_rules_df['length'] = association_rules_df['antecedents'].map(lambda x: len(x)) + association_rules_df['consequents'].map(lambda x: len(x))

In [ ]:
from new_association import new_rules
new_rules_df = new_rules(unique_data[unique_data['length'] < 3 ],only="leverage")
new_rules_df['length'] = new_rules_df['antecedents'].map(lambda x: len(x)) + new_rules_df['consequents'].map(lambda x: len(x))
new_rules_df.sort_values(by='zhangs_metric')

In [ ]:
from new_association import new_rules
sorted_rules = new_rules(unique_data[unique_data['length'] < 3 ],only="lift").sort_values(by='confidence', ascending=False)
print(max(sorted_rules['confidence']), max(sorted_rules['zhangs_metric']))
sorted_rules

In [ ]:
association_rules_df

In [ ]:
# association_rules_df
pivot_df = association_rules_df[association_rules_df['length'] == 2].pivot_table(index='antecedents', columns='consequents', values='confidence', aggfunc='max')
def search_name(name,stock):
    stocks = {1:'support',2:'confidence',3:'lift',4:'leverage',5:'conviction',6:'zhangs_metric',7:'collective strength',8:'cosine similarity'}
    selected_stock = stocks[int(stock)]
    search_n = association_rules_df[
    (association_rules_df['antecedents'] == frozenset({name})) &
    (association_rules_df['length'] == 2) &
    (association_rules_df['zhangs_metric'] <= 1) &  
    (association_rules_df['confidence'] <= 1) &
    (~association_rules_df['consequents'].apply(lambda x: list(x)[0].endswith('우') or list(x)[0].endswith('우B')))
]
    sorted_rules = search_n.sort_values(by=selected_stock, ascending=False)
    top_10_results = sorted_rules[['consequents', selected_stock]].values.tolist()
    consequents_list = []
    for consequent in top_10_results:
        consequent_name = list(consequent[0])[0]
        support_value = round(consequent[1], 5) 
        consequents_list.append([consequent_name, support_value])

    result_df = pd.DataFrame(consequents_list, columns=['종목명','관련도'], index=None)
 
    result_df.index += 1
    # print(f"{name}에 대한 관련도 입니다.")
    # print("-"*40)
    result_df['관련도'] = result_df['관련도'] / result_df['관련도'].max()
    return result_df

a = input("변수를 선택해주세요 {1:'support',2:'confidence',3:'lift',4:'leverage',5:'conviction',6:'zhangs_metric',7:'collective strength',8:'cosine similarity'}")
search_name('에스엠',a)

In [ ]:
def find_name(name, metric="confidence"):
    metric = metric
    if metric == 'support':
        find_s = new_rules_df[
            (new_rules_df['antecedents'] == frozenset({name})) &
            (new_rules_df['length'] == 2) &
            (~new_rules_df['consequents'].apply(lambda x: list(x)[0].endswith('우') or list(x)[0].endswith('우B')))
        ].sort_values(by='support', ascending=False)
        support_results = find_s[['consequents', 'support']].values.tolist()
        support_list = []
        for consequent in support_results:
            consequent_name = list(consequent[0])[0]
            support_value = round(consequent[1]/max(new_rules_df['support'], 5))
            support_list.append([consequent_name, support_value])
        result_df = pd.DataFrame(support_list, columns=['종목명','지지도'], index=None)
        print(f"{name}에 대한 지지도 입니다.")
        print("-"*40)
    elif metric == 'zhangs_metric':
        find_z = new_rules_df[
            (new_rules_df['antecedents'] == frozenset({name})) &
            (new_rules_df['length'] == 2) &
            (~new_rules_df['consequents'].apply(lambda x: list(x)[0].endswith('우') or list(x)[0].endswith('우B')))
        ].sort_values(by='zhangs_metric', ascending=False)
        zhangs_metric_results = find_z[['consequents', 'zhangs_metric']].values.tolist()
        zhangs_metric_list = []
        for consequent in zhangs_metric_results:
            consequent_name = list(consequent[0])[0]
            zhangs_metric_value = round(consequent[1]/max(new_rules_df['zhangs_metric']), 5) 
            zhangs_metric_list.append([consequent_name, zhangs_metric_value])
        result_df = pd.DataFrame(zhangs_metric_list, columns=['종목명','zhangs_metric'], index=None)
        print(f"{name}에 대한 zhangs_metric 입니다.")
        print("-"*40)
    else:
        find_c = new_rules_df[
            (new_rules_df['antecedents'] == frozenset({name})) &
            (new_rules_df['length'] == 2) &
            (~new_rules_df['consequents'].apply(lambda x: list(x)[0].endswith('우') or list(x)[0].endswith('우B')))
        ].sort_values(by='confidence', ascending=False)
        confidence_results = find_c[['consequents', 'confidence']].values.tolist()
        confidence_list = []
        for consequent in confidence_results:
            consequent_name = list(consequent[0])[0]
            confidence_value = round(consequent[1]/max(new_rules_df['confidence']), 5) 
            confidence_list.append([consequent_name, confidence_value])
        result_df = pd.DataFrame(confidence_list, columns=['종목명','신뢰도'], index=None)
        print(f"{name}에 대한 신뢰도 입니다.")
        print("-"*40)
    result_df.index += 1

    return result_df.head(10)

In [ ]:
# find_name('삼성전자',metric='zhangs_metric')
new_rules_df["antecedents"]

In [ ]:
# search_n = association_rules_df[
#     (association_rules_df['antecedents'] == frozenset({'마니커'})) &
#     (~association_rules_df['consequents'].apply(lambda x: list(x)[0].endswith('우') or list(x)[0].endswith('우B')))
# ]
# for i in range(len(search_n)):
#     if search_n['consequents'].iloc[i] == frozenset({'DB'}):
#         print(1)
#         break
# search_n['consequents'].iloc[0]

In [ ]:
max(new_rules_df['confidence'])

In [ ]:
# for i in range(len(search_name('CJ제일제당',2))):
#     if search_name('CJ제일제당',2)['종목명'].iloc[i] == '마니커':
#         print('1')
#         break
#     else:
#         pass
search_name('마니커',2)['종목명'].iloc[:10]

In [ ]:
association_rules_df[association_rules_df['length']==2].to_csv('data_all.csv')

In [ ]:
pivot_df

In [ ]:
max_i = 4
for i, row in association_rules_df.iterrows():
    print("Rule: " + list(row['antecedents'])[0] + " => " + list(row['consequents'])[0])
 
    print("Support: " + str(round(row['support'],2)))
 
    print("Confidence: " + str(round(row['confidence'],2)))
    print("Lift: " + str(round(row['lift'],2)))
    print("=====================================")
    if i==max_i:
        break

In [ ]:
import matplotlib.pyplot as plt
import matplotlib.colors as mcl
 
  
from matplotlib.colors import LinearSegmentedColormap
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori, association_rules


support = association_rules_df['support']
confidence = association_rules_df['confidence']
 
h = 347
s = 1
v = 1
colors = [
    mcl.hsv_to_rgb((h/360, 0.2, v)),
    mcl.hsv_to_rgb((h/360, 0.55, v)),
    mcl.hsv_to_rgb((h/360, 1, v))
]
cmap = LinearSegmentedColormap.from_list('my_cmap',colors,gamma=2)
 
measures = ['lift', 'leverage', 'conviction', 
            'all-confidence', 'collective strength', 'cosine similarity']
 
fig = plt.figure(figsize=(15,10))
fig.set_facecolor('white')
for i, measure in enumerate(measures):
    ax = fig.add_subplot(320+i+1)
    if measure != 'all-confidence':
        scatter = ax.scatter(support,confidence,c=association_rules_df[measure],cmap=cmap)
    else:
        scatter = ax.scatter(support,confidence,c=association_rules_df['all-confidence'].map(lambda x: [v for k,v in x.items()][0]),cmap=cmap)
    ax.set_xlabel('support')
    ax.set_ylabel('confidence')
    ax.set_title(measure)
    
    fig.colorbar(scatter,ax=ax)
fig.subplots_adjust(wspace=0.2, hspace=0.5)
plt.show()