In [1]:
#sql 연결 및 데이터 불러와서 df로 변환
import pandas as pd
import pymysql

with open('pentagon1004.sql', 'r') as f:
    sql_script = f.read()

with open(f"./db_config", "r") as f:
    config = f.readlines()

config_dict = {}
for l in config:
    idx = l.index('=')
    k = l[:idx]
    v = l[idx + 1:]
    config_dict[k] = v.rstrip()

conn = pymysql.connect(**config_dict)
cur = conn.cursor()
# cur.execute(sql_script)  # Assuming that your SQL script creates the table
df = pd.read_sql_query("SELECT * FROM pentagon_news", conn)

C:\Users\lonec\AppData\Local\Temp\ipykernel_28060\1809263890.py:21: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query("SELECT * FROM pentagon_news", conn)

In [ ]:
# 데이터 확인
# df.head(3)

In [2]:
# 샾 분리, 증권 제외
df['stock'] = df['mecab_noun_stock'].str.split('#')
df = df[['title', 'press', 'date_upload', 'mecab_noun_stock', 'url', 'stock']]
df['stock'] = df['stock'].apply(lambda x: [word for word in x if not word.endswith('증권')] if isinstance(x, list) else [])
df.head(5)

,title,press,date_upload,mecab_noun_stock,url,stock
0,"이복현#""소상공인#울리는#보이스피싱#엄단""",이데일리,2023-04-05,대웅,https://n.news.naver.com/mnews/article/018/000...,[대웅]
1,이석태·강신국·박완식·조병규…#우리은행장#4파전,디지털타임스,2023-03-26,대교#우리금융지주,https://n.news.naver.com/mnews/article/029/000...,"[대교, 우리금융지주]"
2,"KB금융,#중국#소비회복#가능성#엿본#보고서#발간",스포츠서울,2023-03-26,KB금융,https://n.news.naver.com/mnews/article/468/000...,[KB금융]
3,코람코에#1위#빼앗긴#한토신·한자신…올해도#'먹구름'#전망,더팩트,2023-03-31,한국토지신탁#카카오#한국자산신탁#한국기업평가,https://n.news.naver.com/mnews/article/629/000...,"[한국토지신탁, 카카오, 한국자산신탁, 한국기업평가]"
4,임승태#KDB생명#신임#대표이사#취임,서울경제,2023-03-31,KD#DB#CS,https://n.news.naver.com/mnews/article/011/000...,"[KD, DB, CS]"

In [ ]:
# stock이 한개인거 목록 생성

# df_single_stock = df[df['stock'].apply(len) == 1]
# len(df_single_stock)

In [ ]:
# 중복제거 후 '증권' 들어간 목록 확인

# import re
# unique_values = df_single_stock['stock'].explode().unique()
# unique_values.str.contains(r'.*증권', regex=True, na=False)
# 고유종목 수 확인
# value_counts = df_single_stock['stock'].explode().value_counts()
# value_counts[value_counts>1000]

In [ ]:
# '증권'으로 끝나는 단어 리스트 출력, 있는지 여부 확인(any~)

# matching_values = [value for value in unique_values if value.endswith('증권')]
# any(value.endswith('증권') for value in unique_values)
# print(matching_values)

In [3]:
# 1000개 이상인거 리스트로 만들기, 길이 확인
df2 = df['stock'].explode().value_counts()
df2[df2>1000].index.tolist()
len(df2)

['레이',
 'SK',
 'LG',
 '삼성전자',
 'SG',
 '카카오',
 'DB',
 '현대차',
 '한화',
 'GS',
 'KT',
 '기아',
 'SK하이닉스',
 '테스',
 '진영',
 '상보',
 'LG전자',
 'CS',
 '디오',
 '효성',
 '신세계',
 'CJ',
 '이마트',
 '에코프로',
 'LG에너지솔루션',
 '태양',
 '하이브',
 '전방',
 '남성',
 '에코프로비엠',
 '한국전력',
 '삼성SDI',
 'LG화학',
 'KD',
 'HD현대',
 'LS',
 '두산',
 '셀트리온',
 '포스코퓨처엠',
 '나노',
 '대한항공',
 '현대백화점',
 '신흥',
 '현대건설',
 'SK텔레콤',
 '기업은행',
 '한창',
 '삼성물산',
 'GS건설',
 '국보',
 '엘앤에프',
 'KB금융',
 '삼성바이오로직스',
 'LG유플러스',
 'DL',
 'SK이노베이션',
 '아하',
 'LF',
 '카카오뱅크',
 'DSR',
 '카카오페이',
 '진도',
 'SBS',
 '에프앤가이드',
 '대모',
 '대원',
 '흥국',
 '대유',
 '농심',
 '모비스',
 'CJ제일제당',
 '셀트리온헬스케어',
 '동서',
 '대우건설',
 'POSCO홀딩스',
 '아시아나항공',
 '현대모비스',
 '한화오션',
 '삼성화재',
 '대교',
 '한화에어로스페이스',
 'E1',
 '삼성생명',
 'HDC',
 '아모레퍼시픽',
 'LG디스플레이',
 '에스엠',
 '한국석유',
 'HD현대중공업',
 '포스코인터내셔널',
 'HLB',
 '하림',
 'LG생활건강',
 '코오롱',
 '한국항공우주',
 '제주항공',
 '롯데케미칼',
 '포스코DX',
 'GS리테일',
 '동양',
 '하이트진로',
 '카스',
 '삼성중공업',
 '오뚜기',
 '한진',
 '서한',
 '서남',
 '셀트리온제약',
 'DL이앤씨',
 '삼양식품',
 '대웅',
 'HDC현대산업개발',
 '한화생명',
 '펄어비스',
 '신원',
 '카카오게임즈',
 '서원',
 '롯데웰푸드',
 '롯데칠성',
 '두산에너빌리티',
 'HMM',
 'NAVER',
 'JYP Ent.',
 '레몬',
 'KG모빌리티',
 'BGF',
 '삼성카드',
 'LG이노텍',
 '삼성전기',
 '한화솔루션',
 '한국가스공사',
 '우성',
 '현대해상',
 '한국공항',
 '한화시스템',
 'DB손해보험',
 'HD한국조선해양',
 '티웨이항공',
 'BGF리테일',
 '롯데쇼핑',
 '보령',
 '다우데이타',
 '오텍',
 'CJ대한통운',
 '엔씨소프트',
 '풀무원',
 '호텔신라',
 '삼천리',
 '진에어',
 '금양',
 '현대제철',
 '파수',
 '신세계푸드',
 '미래산업',
 '대동',
 '우리금융지주',
 '넷마블',
 '대웅제약',
 '현대로템',
 '위메이드',
 '유한양행',
 '삼일',
 '풍산',
 '선광',
 '서산',
 'KT&G',
 '서울가스',
 '대성홀딩스',
 'DB금융투자',
 'EG',
 '오리온',
 '하나금융지주',
 '세방',
 '코디',
 'CJ ENM',
 '타이드',
 '레인보우로보틱스',
 '국동',
 '매일유업',
 '한국경제TV',
 'YTN',
 '딜리',
 '대덕',
 '한샘',
 '덕성',
 '오스템']

In [4]:
list1 = ['삼성전자',
 'SG',
 'DB',
 '현대차',
 '한화',
 'GS',
 '기아',
 'SK하이닉스',
 '테스',
 '진영',
 '상보',
 'LG전자',
 'CS',
 '디오',
 '효성',
 '신세계',
 'CJ',
 '이마트',
 '에코프로',
 'LG에너지솔루션',
 '하이브',
 '에코프로비엠',
 '한국전력',
 '삼성SDI',
 'LG화학',
 'KD',
 'HD현대',
 'LS',
 '두산',
 '셀트리온',
 '포스코퓨처엠',
 '대한항공',
 '현대백화점',
 '현대건설',
 'SK텔레콤',
 '기업은행',
 '한창',
 '삼성물산',
 'GS건설',
 '국보',
 '엘앤에프',
 'KB금융',
 '삼성바이오로직스',
 'LG유플러스',
 'DL',
 'SK이노베이션',
 'LF',
 '카카오뱅크',
 '카카오페이',
 '에프앤가이드',
 '대모',
 '대원',
 '대유',
 '농심',
 '모비스',
 'CJ제일제당',
 '셀트리온헬스케어',
 '동서',
 '대우건설',
 'POSCO홀딩스',
 '아시아나항공',
 '현대모비스',
 '한화오션',
 '삼성화재',
 '대교',
 '한화에어로스페이스',
 'E1',
 '삼성생명',
 'HDC',
 '아모레퍼시픽',
 '에스엠',
 'LG디스플레이',
 '한국석유',
 'HD현대중공업',
 '포스코인터내셔널',
 'HLB',
 '하림',
 'LG생활건강',
 '코오롱',
 '한국항공우주',
 '제주항공',
 '롯데케미칼',
 '포스코DX',
 'GS리테일',
 '동양',
 '하이트진로',
 '카스',
 '삼성중공업',
 '오뚜기',
 '한진',
 '서한',
 '서남',
 '셀트리온제약',
 'DL이앤씨',
 '삼양식품',
 '대웅',
 'HDC현대산업개발',
 '한화생명',
 '펄어비스',
 '서원',
 '카카오게임즈',
 '롯데웰푸드',
 '롯데칠성',
 '두산에너빌리티',
 'HMM',
 'JYP Ent.'
 'KG모빌리티',
 'BGF',
 '삼성카드',
 'LG이노텍',
 '삼성전기',
 '한화솔루션',
 '한국가스공사',
 '우성',
 '현대해상',
 '한국공항',
 '한화시스템',
 'DB손해보험',
 'HD한국조선해양',
 '티웨이항공',
 'BGF리테일',
 '롯데쇼핑',
 '보령',
 '다우데이타',
 '오텍',
 'CJ대한통운',
 '엔씨소프트',
 '풀무원',
 '호텔신라',
 '삼천리',
 '진에어',
 '금양',
 '현대제철',
 '파수',
 '신세계푸드',
 '미래산업',
 '대동',
 '우리금융지주',
 '넷마블',
 '대웅제약',
 '현대로템',
 '위메이드',
 '유한양행',
 '삼일',
 '풍산',
 '선광',
 '서산',
 'KT&G',
 '서울가스',
 '대성홀딩스',
 'DB금융투자',
 'EG',
 '오리온',
 '하나금융지주',
 '세방',
 '코디',
 'CJ ENM',
 '타이드',
 '레인보우로보틱스',
 '국동',
 '매일유업',
 '한국경제TV',
 'YTN',
 '딜리',
 '대덕',
 '한샘',
 '덕성',
 '오스템']

In [5]:
# 리스트 제거, 제외할 단어 리스트 생성
df['stock'] = df['stock'].apply(lambda x: ', '.join(x) if isinstance(x, list) else x)
exception_word = [x for x in df2[df2>1000].index.tolist() if x not in list1]
print(exception_word)
df.head(3)

['레이', 'SK', 'LG', '카카오', 'KT', '태양', '전방', '남성', '나노', '신흥', '아하', 'DSR', '진도', 'SBS', '흥국', '신원', 'NAVER', 'JYP Ent.', '레몬', 'KG모빌리티']

,title,press,date_upload,mecab_noun_stock,url,stock
0,"이복현#""소상공인#울리는#보이스피싱#엄단""",이데일리,2023-04-05,대웅,https://n.news.naver.com/mnews/article/018/000...,대웅
1,이석태·강신국·박완식·조병규…#우리은행장#4파전,디지털타임스,2023-03-26,대교#우리금융지주,https://n.news.naver.com/mnews/article/029/000...,"대교, 우리금융지주"
2,"KB금융,#중국#소비회복#가능성#엿본#보고서#발간",스포츠서울,2023-03-26,KB금융,https://n.news.naver.com/mnews/article/468/000...,KB금융

In [6]:
# 제외단어 제외한 개수 확인
for word in exception_word:
    df['stock'] = df['stock'].str.replace(word, '')
df = df[df['stock'].str.len() > 0]
len(df)
# df.head

400640

In [ ]:
# df = df.explode('stock')
df.head(10)